{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <div class="card bg-white">
            <h4 class="text-success mb-3">File Signed Successfully!</h4>
            <p>Your document has been digitally signed using RSA encryption.</p>
            <a href="/static/uploads/{{ signed_file }}" class="btn btn-outline-success mt-3">Download Signature</a>
            <a href="/" class="btn btn-outline-primary mt-3">Go Back</a>
        </div>
    </div>
</div>
{% endblock %}
